#development module 
Django
djangorestframework
djangorestframework-simplejwt
django-filter
Pillow
markdown
django-filter
drf-yasg[validation]
pytest
pytest-django
requests
redis
celery


#clean data
black
flake8

#make product random
faker

#database
psycopg2-binary

#deploy
gunicorn
